<% if logged_in? %>
<br>
<div>
  <%= link_to "管理一覧へ", user_items_path(@user) %>
</div>

<div>
  <%= link_to "カテゴリーを作成", new_user_main_category_path(@user) %>
</div>

  <div class="row">
    <div class="col-md-8">
      <h3>(<%= Time.zone.today.strftime("%m.%d") %>)1週間で切れそう</h3>
        <table>
          <%= render "shared/item_table" %>
          <%= render "shared/feed" %>
        </table>
    </div>
  </div>

  <%
=begin%>
 <div>
    買い物メモ
  </div>
<%
=end%>

<% else %>
<div id="wrap">
<div class="home-top-background">
  <h1 class="not_opacity title">HomeStockManager</h1>
    <p class="not_opacity sub_title">家の在庫を簡単に管理し、日常生活をもっと便利にしましょう!</p>
    <div class="center not_opacity">
      <p class="signup">新規登録は<%= link_to "こちら", signup_path %></p>
      <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary col-3 mx-auto" %>
    </div>

</div>
</div>
<% end %>
