<%= form_with(model: @item) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class ="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :stock %>
      <%= f.text_field :stock, class: "form-control" %>
      <%= f.label :days %>
      <%= f.text_field :days, class: "form-control" %>
  </div>
  <%= f.submit "新規作成", class: "btn btn-primary" %>

<% end %>
