<div class="container">
<h1>カテゴリー名変更</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @main_category) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name, "カテゴリー名" %>
      <%= f.text_field :name, value: @main_category.name, class: "form-control" %>
      <%= f.submit "変更する", class: "btn btn-primary mx-auto" %>　
       <button class="btn btn-primary mx-auto" onclick="history.back()">戻る</button>
      <% end %>
   </div>

  </div>
</div>
