

  <tr>
    <td><%= item.name %></td>
    <% if item.main_category_id.nil? %>
      <td></td>
    <% else %>
      <td><%= current_user.main_categories.find(item.main_category_id).name %></td>
    <% end %>
    <td><%= item.stock.to_i %></td>
    <td><%= item.days %></td>
    <td><%= limit_day(item.stock, item.days) %></td>
    <% if current_user?(item.user) %>
    <td><%= link_to "編集",  edit_user_item_path(@user,item.id) %></td>
    <td><%= link_to "削除", user_item_path(@user, item), data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか?" }%></td>
    <% end %>
  </tr>
