<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <%= link_to root_path, class: "navbar-nav ms-auto" do %>
      <%= image_tag "Icon.png", class: "icon" %>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"> <%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"> <%= link_to "Help", help_path, class: "nav-link" %></li>
        <% if logged_in? %>
          <li class="nav-item"> <%= link_to "管理一覧", user_items_path(@user), class: "nav-link" %></li>
          <li class="nav-item"> <%= link_to "Mypage", user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"> <%= link_to "Log out", logout_path, data: { "turbo-method": :delete }, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"> <%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>

</header>
