    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "HomeStockManager", root_path ,id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <% if logged_in? %>
              <li><%= link_to "管理一覧", current_user %></li>
              <li><%= link_to "Mypage", user_path(current_user) %></li>
              <li><%= link_to "Log out", logout_path, data: { "turbo-method": :delete } %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
